<style>  
     body {  
       background: solide black;  
       font-family: Tohoma;  
     }  
     #snakecanvas {  
       position: absolute;  
       top: 50%;  
       left: 50%; 
        transform: translate(-50%, -50%);  

      
       
     }  
     .restartButton {  
       position: static;  
       background: blue;  
       display: flex;  
       margin-left: 64%; 
      margin-top: 38%;
      padding: 5px;
      border-radius: 10px;
      font-size: 15px;
      text-color: white;
      font-family: Tahoma;




     }  
     #score {  
       text-align: center;  
       font-size: 100px; 
       border: 5px; 
     }  
     .footer {  
       padding-top: 15px;  
     } 



     .restartButton:hover{

background-color: red;
color: white;
 
</style>  